<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cod3rboy.apnashare">

    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/launcher_label"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activities.SplashActivity"
            android:configChanges="screenLayout|screenSize|orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.MainActivity"
            android:configChanges="screenLayout|screenSize|orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.FilesSelectionActivity"
            android:configChanges="screenLayout|screenSize|orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ReceiveActivity"
            android:configChanges="screenLayout|screenSize|orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SendActivity"
            android:configChanges="screenLayout|screenSize|orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.PermissionActivity"
            android:configChanges="screenLayout|screenSize|orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
        <activity
            android:name=".activities.ActionSendActivity"
            android:configChanges="screenLayout|screenSize|orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentActivity">
            <intent-filter android:label="Share with friends">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="audio/*" />
                <data android:mimeType="video/*" />
                <data android:mimeType="application/*" />
                <data android:mimeType="image/*" />
                <data android:mimeType="font/*" />
            </intent-filter>
            <intent-filter android:label="Share with friends">
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="audio/*" />
                <data android:mimeType="video/*" />
                <data android:mimeType="application/*" />
                <data android:mimeType="image/*" />
                <data android:mimeType="font/*" />
            </intent-filter>
        </activity>

        <provider
            android:name=".provider.ApnaShareFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>